.label-self{
  padding: 0;
    text-align: right;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
  width: 5%;
}
.open-publish-dialog{
  font-size: 38px;
  color: #29bc98;
  margin-left: 20px;
}
.open-publish-dialog:hover{
  color: #18a689;
}
.row{
  margin:10px auto;
}

